 h1 {
    color: rgba(127, 145, 151, 0.187);
    font-size:50px;
    font-family: "BBH Sans Bartle", sans-serif;
    text-decoration:line-through;
    text-transform:lowercase;
    letter-spacing:9px;
    background-color: rgb(16, 96, 52);
    text-align:center;
    ;
 }
 body {
    background:rgb(98, 97, 97);
    background-image:url(paper.gif);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;

 }
 a{
    width:200px;
    height:100px;
    background-image:url(button.png);
    background-position:center;
 }