body{
   background-image: url(background.png);
   background-size: cover;
   margin: 50px;;
   padding: 40px;
   background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    color: rgb(22, 22, 172);
    font-size: 60px;
}
h3 {
    color: black;
    text-align: center;
}
h4{
    text-align: center;
    font-style: italic;
}
#P2{
    line-height: 1.8;
}
.Orange{
    color: orange;
}
.Sandhika{
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}
.Sandhika:hover{
    color:white;
    text-decoration: none;
    background-color: blue;
}
.MarkFB{
    color: blue;
    transition: 0.3s;
    text-decoration: none;
}
.MarkFB:hover{
    color: white;
    background-color: blue;
    text-decoration: none;
}