body {
    font-family: arial;
    background-color: rgb(248, 210, 129);
}

.header a:hover{
    text-decoration: underline;
    transition: 0.3s;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 3px  solid #ffff;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;;
}

h1{
    color: #ffff;
    font-family: "Merriweather", serif;
}

.gambar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

@media ( min-width: 200px ){
    .gambar {
        display: flex;
        justify-content: space-around;
    }

    .thumbnail IMG{
        width: 150%;
    }
}

.hero {
    max-width: 800px;
    margin: 50px auto;
    
}

.layanan.satu {
    background-color: #ffa237;
}

.layanan.dua {
    background-color: #ffa237;
}

.layanan.tiga {
    background-color: #ffa237;
}

@media ( min-width: 600px ){
    .hero {
        display: flex;
        justify-content: space-between;
    }

    .layanan {
        width: 30%;
    }
}