body{
    font-family: arial, sans-serif;
    background-image: url(img/backroudnd.png);
    color: #ffffff;
    background-size: contain;
}

.container{
    width: 800px;
    margin: auto;
    background-color: white;
    background-image: url(img/backroudnd.png);
    background-size: cover;
}

.header{
    padding: 10px;
}

.header .judul{
    font-size: 60px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.header a{
    text-decoration: none;
    color: black;
    padding: 3px;
}

.header a:hover{
    background-color: rgb(28, 26, 165);
    color: white;
    transition: 0.5s;
}

.hero{
    height: 270px;
    background-image: url(img/bromo.jpg);
    background-size: cover;
    background-position: 0px -150px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.content{
    padding: 20px;
}

.content h2{
    font-size: 28px;
    font-weight: bold;
}

.content .penulis{
    font-size: 13px;
    margin-top: -5px;
}

.content .penulis a{
    color:blue;
    text-decoration: underline;
}

.content p{
    margin-bottom: 20px;
    font-size: 20px;
}

.paragraf{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -50px;
    padding: 5px;
    color: white;
}