body{
    font-family: arial, sans-serif;
    background-image: url(img/containerbromo.jpg);
    color: #ffffff;
    background-size: cover;
}

.judul{
    color: #f8640f;
    padding-bottom: 50px;
}

container{
    width: 800px;
    margin: auto;
    background-color: rgb(248, 132, 49);
    background-image: url(img/containerbromo.jpg);
    background-size: cover;
}

.header{
    padding: 10px;
    background-image: url(img/back6round.jpg);
    background-size: cover;
    background-position: 0 -280px;
}

.header .judul{
    font-size: 60px;
    font-weight: bold;
}

.hero ul li{
    display: inline-block;
    margin-right: 50px;
    font-style: inherit;
    font-weight: bold;
}

.hero a{
    text-decoration: none;
    color: #f8640f;
    padding: 3px;
}

.hero a:hover{
    background-color: rgb(28, 26, 165);
    color: #f8640f;
    transition: 0.5s;
}

.hero{
    height: 50px;
    background-image: url(img/bromo.jpg);
    background-size: cover;
    background-position: 0px -270px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.content{
    padding: 20px;
}

.content h2{
    font-size: 32px;
    font-weight: bold;
    color: #f8640f;
}

.content .penulis{
    font-size: 13px;
    margin-top: -5px;
}

.content .penulis a{
    color:blue;
    text-decoration: underline;
}

.content p{
    margin-bottom: 20px;
    font-size: 20px;
}

.paragraf{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -50px;
    padding: 5px;
    color: black;
    line-height: 1.8;
}