.judul{
    font-family: Arial;
    text-align: center;
}
.hero{
    text-align: center;
    font-size: x-large;
    text-shadow: 5px 5px 5px rgb(255, 7, 7);
}

.hero ul li {
  display: inline-block;  
}

.hero a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 3px;
}

.hero a:hover {
    text-decoration: underline;
    color: rgb(157, 157, 157);
    transition: 0.5s;
}

.pic1{
    width: 735px;
    height: 490px;
    margin: 30px auto;
    background-image:url(img/Nike\ szykuje\ się\ do\ premiery\ butów\ Air\ Max\ 95\ „Solar\ Red”.jpg) ;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.75);
    
}
